.header{
	background-color: #000;
	background-image: url("https://t3.ftcdn.net/jpg/03/50/64/40/360_F_350644095_ZtIo5lqaaBSeIXBxQVvgy9L1lQqcwCUM.jpg");
	background-repeat: no-repeat;
	background-size: 1750px;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
	padding: 200px 1px;

}

body{
	background-color: #4d4d4d;
	margin: 0px;
}

button{
	background-color: #000;
	color: #fff;
	padding: 20px;
}

.header a{
    text-decoration: none;
    color: #fff;
}